<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <table id="js-table-comment" class="table">
      <div>コメント総数：<%= @post.comments.count %></div>
      <p>捨ててもいい：<%= @post.comments.trash.count %>　捨てないで：<%= @post.comments.untrash.count %></p>
      <%= render comments %>
    </table>
  </div>
</div>