<% content_for(:title, 'RUNTEQ BOARD APP') %>
<div class="container px-5 py-2">
  <div class='top-inner-text'>
    <h1>お問い合わせ</h1>
    <p>当サイトに関するお問い合わせや不具合などがございましたら、以下のTwitterアカウントまでご連絡ください。</p>
    <a class="btn btn-primary" target="_blank" rel="noopener noreferrer" href="https://twitter.com/touyui_p_26">
      <i class="fab fa-twitter pe-1"></i>
      touyui_p_26
    </a>
  </div>
</div>
