<% content_for(:title, 'RUNTEQ BOARD APP') %>
<div class='top-wrapper'>
  <div class='top-inner-text'>
    <h1>断捨流</h1>
    <p>断捨流とは……</p>
    <p>捨てたいものがあるけれど、捨てるのにどうしても抵抗がある……</p>
    <p>本当に捨ててしまってもいいのだろうか？</p>
    <p>そんな迷いに決着をつけるため、数多の人々から</p>
    <p>知恵を借りる、あるいは理由を提案してもらう</p>
    <p>そうして背中を押す、時には押される</p>
    <p>そのための集いである</p>
    <p><%= link_to t('defaults.how_to_use_site'), usage_path %></p></br>
    <% if !logged_in? %>
      <ul class="navbar-nav d-flex ms-auto mb-2 mb-lg-0">
        <li class="nav-item align-items-center">
          <div>まだ登録していない方はこちらから（新規ユーザー登録）</div>
          <%= link_to t('defaults.register'), new_user_path, class: 'btn btn-primary btn-sm me-2' %>
        </li>
        <li class="nav-item align-items-center">
          <div>ユーザー登録済みの方はこちら（ログイン）</div>
          <%= link_to t('defaults.login'), login_path, class: 'btn btn-primary btn-sm me-2' %>
        </li>
      </ul>
    <% end %>
  </div>
</div>
