<% content_for(:title, 'RUNTEQ BOARD APP') %>
<div class='top-wrapper'>
  <div class='top-inner-text'>
    <h1>断捨流</h1>
    <p>断捨流とは……</p>
    <p>捨てたいものがあるけれど、捨てるのにどうしても抵抗がある……</p>
    <p>本当に捨ててしまってもいいのだろうか？</p>
    <p>そんな迷いに決着をつけるため、数多の人々から</p>
    <p>知恵を借りる、あるいは理由を提案してもらう</p>
    <p>そうして背中を押す、時には押される</p>
    <p>そのための集いである</p>
  </div>
</div>
