<% content_for(:title, 'RUNTEQ BOARD APP') %>
<div class='top-wrapper'>
  <div class='top-inner-text'>
    <h1>断捨流の極め方</h1>
    <h2>断捨流への一歩</h2>
    <p>自分からすればただのゴミに見えても、誰かにとっては大切な思い出の詰まった宝物かもしれない</p>
    <p>写真や文章からは計り知れない想いがそこにはあるかもしれない</p>
    <p>ですので安易に、使い物にならないからゴミだ、など切り捨てずに一度相手の立場に立ってみることを胸に留めてみてください</p>
    <p>また、本サービスにおいて、命ある生き物に対する投稿は絶対におやめください</p>
    <h2>流儀その1：捨てるべきか迷っているものを投稿する</h2>
    <p>捨てるべきか迷っているものがあったら、断捨流に入場してその情報を投稿してみましょう</p>
    <p>入場後、右上の新規投稿より、迷っているものの名前、詳細を記入しましょう。写真の添付もできるので、あると尚良いでしょう</p>
    <p>そのほか、カテゴリーの設定もできるので、目に留まりやすいよう迷っているものにあったカテゴリーをつけましょう（カテゴリーの項目管理は管理者が行います）</p>
    <p>最後に、迷っているものへの助言を募集する期限を決めたら、投稿を押下することで投稿完了です</p>
    <h2>流儀その2：時が来たら決断する</h2>
    <p>締め切りが過ぎたら、投稿のステータスが募集中から自動的に締め切りになり、決断することができるようになります</p>
    <p>捨てるべきか否か、皆が寄せてくれた意見や投票を確認してみましょう</p>
    <p>迷っているものをどうするべきか心に決めることができたら、決断するを押下しましょう</p>
    <p>すると、捨てるのか捨てないのか最終的な意思確認をされるので、心に決めた結果にチェックをし、決断ボタンを押下しましょう</p>
    <p>捨てる決断をしたならば、そのものに今まで共に歩んだことに感謝をしつつお別れを</p>
    <p>捨てない決断をしたならば、心機一転今まで以上に大切にできるかもしれません</p>
    <p>実際に迷っていたものをどうしたのか詳細に報告する必要はないので、自分の下した決断を誇りに行動すると良いでしょう</p>
    <h2>流儀その3：強く背を押してくれた人に感謝を</h2>
    <p>決断後、投稿のステータスが「捨てた」「捨てなかった」に変化すると、集まったコメントにベスト断捨流を送れます</p>
    <p>自分の決断に大いに貢献した、そうでなくとも心動かされたコメントがありましたら、ぜひベスト断捨流を送ってあげてください</p>
    <p>きっと志を同じくするものの励みになるでしょう</p>
    <h2>流儀その4：誰かの背中を押す</h2>
    <p>右上の投稿一覧を押下すると、自分以外の迷っているもの数多に出逢います</p>
    <p>気になったものを確認し、それを捨てるべきか否か自分の考えを決め、背中を押したいと感じたならばコメントをすると良いでしょう</p>
    <p>そのコメントが捨てた方がいいのか捨てない方がいいなのかチェックをし、コメントが記入できたら投稿を押下しましょう</p>
    <p>コメントまでいかなくとも、捨てるべきか否かに投票できますので、投票に留めるも良いでしょう</p>
    <p>自分と同じく相手も本気で悩んでいることを胸に、背中を押してあげましょう</p>
  </div>
</div>
