<p><%= @vote.status %>に投票済</p>
<%= link_to vote_path(current_user.votes.find_by(post_id: post.id)),
            id: "js-unvote-button-for-post-#{post.id}",
            method: :delete,
            remote: true do %>
  <%= "投票を撤回する" %>
<% end %>
