<p><%= @vote.status_i18n %><%= t('posts.index.voted') %></p>
<%= link_to vote_path(current_user.votes.find_by(post_id: post.id)),
            id: "js-unvote-button-for-post-#{post.id}",
            method: :delete,
            remote: true do %>
  <%= t('posts.index.withdraw_vote') %>
<% end %>
