<ul class='crud-menu-btn list-inline float-right', id=<%= "js-vote-button-for-post-#{@post.id}" %>>
  <li class="list-inline-item">
    <% if current_user.vote?(post) %>
      <%= render 'posts/unvote', post: post %>
    <% else %>
      <%= render 'posts/vote', post: post %>
    <% end %>
  </li>
</ul>

