<ul class='crud-menu-btn list-inline float-right'>
  <li class="list-inline-item">
    <% if current_user.vote?(post) %>
      <%= render 'posts/unvote', post: post %>
    <% else %>
      <%= render 'posts/trash', post: post %>
      <%= render 'posts/untrash', post: post %>
    <% end %>
  </li>
</ul>